@font-face {
  font-family: 'Michroma';
  font-style: normal;
  font-weight: 400;
  src: local('Michroma'), url(http://fonts.gstatic.com/s/michroma/v7/-4P7knfa8IRSEOi-sKrsivesZW2xOQ-xsNqO47m55DA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/michroma/v7/FZQqjemuMkmQGwk1YxMXlfesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}